# Le prefixage NG_APP_ est obligatoire avec la lib "@ngx-env/builder"
NG_APP_API_URL=
NG_APP_KEYCLOAK_SERVER=
NG_APP_KEYCLOAK_REALM=
NG_APP_KEYCLOAK_CLIENT_ID=
# Le client secret est la pour le test, c'est à mettre dans un backend pour les vrais projets.
NG_APP_KEYCLOAK_CLIENT_SECRET=
NG_APP_KEYCLOAK_REDIRECT_URI=
NG_APP_KEYCLOAK_REDIRECT_URI_DOCKER=
## https://tonyxu-io.github.io/pkce-generator
NG_APP_KEYCLOAK_CODE_CHALLENGE_METHOD=S256
NG_APP_KEYCLOAK_CODE_CHALLENGE=
NG_APP_KEYCLOAK_CODE_VERIFIER=
NG_APP_KEYCLOAK_SCOPES="openid profile email offline_access"
NG_APP_KEYCLOAK_STATE=
