# Le prefixage NG_APP_ est obligatoire avec la lib "@ngx-env/builder"
NG_APP_KEYCLOAK_SERVER=
NG_APP_KEYCLOAK_REALM=
NG_APP_KEYCLOAK_CLIENT_ID=
NG_APP_KEYCLOAK_REDIRECT_URI=
NG_APP_KEYCLOAK_REDIRECT_URI_DOCKER=
